# Common Eclipse configuration/build directories
**/.project
**/.classpath
**/.settings
**/gen
**/bin

# Android client specific ignores
android-client/src/horizon/perscon

# GAE server specific ignores
gae-server/war/geotagger
gae-server/war/WEB-INF/classes
