<?xml version="1.0" encoding="utf-8"?>
<manifest 
		xmlns:android="http://schemas.android.com/apk/res/android"
		android:versionCode="1"
		android:versionName="@string/application_version"
		package="horizon.geotagger">
		
	<application
			android:icon="@drawable/icon"
			android:name="GeoTagger"
			android:label="@string/application_name"
			android:allowClearUserData="true">
			
		<activity android:name=".view.MapView">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
		<activity android:name=".view.TagView" />
		
		<activity android:name=".view.DoTextTagView" android:label="@string/text_tag_name">
			<intent-filter>
				<action android:name="horizon.geotagger.ACTION_DO_GEOTAG" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:name=".view.DoImageTagView" android:label="@string/image_tag_name">
			<intent-filter>
				<action android:name="horizon.geotagger.ACTION_DO_GEOTAG" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<service android:name=".AlertService" />
		
		<uses-library android:name="com.google.android.maps" />
	
	</application>
	
    <uses-sdk android:minSdkVersion="3" />
    
    <uses-configuration
			android:reqKeyboardType="undefined"
			android:reqHardKeyboard="false"
			android:reqTouchScreen="undefined"
			android:reqFiveWayNav="false"
			android:reqNavigation="undefined" />
			
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
</manifest>